.header {
    overflow: hidden;
    background-color: #f3f3f3;
    padding: 8px 8px;
    border-radius: 5px;
}
.logo {
    padding: 10px;
}
.batch {
    font-size: 25px;
    float: right;
    padding: 10px;
}
.grid-container {
    margin: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.card {
   border: 1px solid #d3d3d3;
   border-radius: .25rem;
   position: relative;
}
  
.img-div {
    padding: 5px;
}
.name {
    font-size: 1.5rem;
    font-weight: bold;
}
.mail {
    font-size: 0.8rem;
    font-weight: lighter;
    font-style: italic;
}
.fellow-img {
    width: 100%;
    object-fit: cover;
    border-radius: .25rem;
    max-height: 300px;
    
}
.desc {
    margin-bottom: 3rem;
}
.content {
    padding: 15px;
}
  
.button {
    background-color: #ED1F33;
    color: whitesmoke;
    margin: .5rem .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border-radius: .25rem;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

.button:hover {
    border: 2px solid black;
}