<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    </head>
    <body>
        <div class="grid-container">
            <div class="card">
                <div class="img-div"> <img class="fellow-img" src={{ image }}/> </div>
                <div class="content">
                    <p class="name">{{ name }}</p>
                    <p class="mail" >{{ mail }}</p>
                    <p class="desc">{{ description }}</p>
                    <a href={{ portLink }} class="button"> Portfolio </a>
                </div>
            </div>
            <div class="card">
                <div class="img-div"> <img class="fellow-img" src={{ image }}/> </div>
                <div class="content">
                    <p class="name">{{ name }}</p>
                    <p class="mail">{{ mail }}</p>
                    <p class="desc">{{ description }}</p>
                    <a href={{ portLink }} class="button"> Portfolio </a>
                </div>
            </div>
            <div class="card">
                <div class="img-div"> <img class="fellow-img" src={{ image }}/> </div>
                <div class="content">
                    <p class="name">{{ name }}</p>
                    <p class="mail" >{{ mail }}</p>
                    <p class="desc" >{{ description }}</p>
                    <a href={{ portLink }} class="button"> Portfolio </a>
                </div>
            </div>
            <div class="card">
                <div class="img-div"> <img class="fellow-img" src={{ image }}/> </div>
                <div class="content">
                    <p class="name">{{ name }}</p>
                    <p class="mail" >{{ mail }}</p>
                    <p class="desc" >{{ description }}</p>
                    <a href={{ portLink }} class="button"> Portfolio </a>
                </div>
            </div>
        </div>
    </body>
</html>
<script>

    // const sqlite3 = require('sqlite3').verbose();
    // let db = new sqlite3.Database('batch3.db');
    // let sql = `SELECT * FROM fellows`;
    var conn = SQL.connect({ DRIVER: "SQLite", Database:"batch3.db"});
    var result = conn.query("SELECT * FROM fellows")
    var times = Object.keys(result).length;
    for (var i=0; i<times; i++){
        var imageUrl = URL.createObjectURL(result[i][2])
        $('.grid-container').append('<div class="card"><div class="img-div"><img class="fellow-img" src="' + imageUrl + '"/></div><div class="content"><p class="name">'+ result[i][1] +'</p><p class="mail" >'+ result[i][3] +'</p><p class="desc">' + result[i][4] + '</p><a href="' + result[i][5] + '" class="button"> Portfolio </a></div></div>');
    }
</script>