<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='sql-wasm.js') }}"></script>
    </head>
    <body>
        <div class="grid-container">
            <div class="card">
                <div class="img-div"> <img class="fellow-img" src={{ image }}/> </div>
                <div class="content">
                    <p class="name">{{ name }}</p>
                    <p class="mail" >{{ mail }}</p>
                    <p class="desc">{{ description }}</p>
                    <a href={{ portLink }} class="button"> Portfolio </a>
                </div>
            </div>
            <div class="card">
                <div class="img-div"> <img class="fellow-img" src={{ image }}/> </div>
                <div class="content">
                    <p class="name">{{ name }}</p>
                    <p class="mail">{{ mail }}</p>
                    <p class="desc">{{ description }}</p>
                    <a href={{ portLink }} class="button"> Portfolio </a>
                </div>
            </div>
            <div class="card">
                <div class="img-div"> <img class="fellow-img" src={{ image }}/> </div>
                <div class="content">
                    <p class="name">{{ name }}</p>
                    <p class="mail" >{{ mail }}</p>
                    <p class="desc" >{{ description }}</p>
                    <a href={{ portLink }} class="button"> Portfolio </a>
                </div>
            </div>
            <div class="card">
                <div class="img-div"> <img class="fellow-img" src={{ image }}/> </div>
                <div class="content">
                    <p class="name">{{ name }}</p>
                    <p class="mail" >{{ mail }}</p>
                    <p class="desc" >{{ description }}</p>
                    <a href={{ portLink }} class="button"> Portfolio </a>
                </div>
            </div>
        </div>
    </body>
</html>
<script>
    var data = {{ data|safe }};
    var times = Object.keys(data).length;
    for (var i=0; i<times; i++){
        var binImg = atob(data[i][2]);
        console.log(binImg.type)
        var imageUrl = URL.createObjectURL(binImg);
        $('.grid-container').append('<div class="card"><div class="img-div"><img class="fellow-img" src="' + imageUrl + '"/></div><div class="content"><p class="name">'+ data[i][1] +'</p><p class="mail" >'+ data[i][3] +'</p><p class="desc">' + data[i][4] + '</p><a href="' + data[i][5] + '" class="button"> Portfolio </a></div></div>');
    }

// initSqlJs({ locateFile: filename => `/static/${filename}` }).then(function(SQL){
    
//     var db = new SQL.Database('/static/batch3.sqlite');
//     var stmt = db.prepare("SELECT * FROM fellows");
//     while(stmt.step()){
//         var row = stmt.getAsObject();
//         var imageUrl = URL.createObjectURL(row.img);
//         $('.grid-container').append('<div class="card"><div class="img-div"><img class="fellow-img" src="' + imageUrl + '"/></div><div class="content"><p class="name">'+ row.name +'</p><p class="mail" >'+ row.email +'</p><p class="desc">' + row.desc + '</p><a href="' + row.link + '" class="button"> Portfolio </a></div></div>');
//     }
//   });
</script>