<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='sql-wasm.min.js') }}"></script>
    </head>
    <body>
        <div class="grid-container">
            <div class="card">
                <div class="img-div"> <img class="fellow-img" src={{ image }}/> </div>
                <div class="content">
                    <p class="name">{{ name }}</p>
                    <p class="mail" >{{ mail }}</p>
                    <p class="desc">{{ description }}</p>
                    <a href={{ portLink }} class="button"> Portfolio </a>
                </div>
            </div>
            <div class="card">
                <div class="img-div"> <img class="fellow-img" src={{ image }}/> </div>
                <div class="content">
                    <p class="name">{{ name }}</p>
                    <p class="mail">{{ mail }}</p>
                    <p class="desc">{{ description }}</p>
                    <a href={{ portLink }} class="button"> Portfolio </a>
                </div>
            </div>
            <div class="card">
                <div class="img-div"> <img class="fellow-img" src={{ image }}/> </div>
                <div class="content">
                    <p class="name">{{ name }}</p>
                    <p class="mail" >{{ mail }}</p>
                    <p class="desc" >{{ description }}</p>
                    <a href={{ portLink }} class="button"> Portfolio </a>
                </div>
            </div>
            <div class="card">
                <div class="img-div"> <img class="fellow-img" src={{ image }}/> </div>
                <div class="content">
                    <p class="name">{{ name }}</p>
                    <p class="mail" >{{ mail }}</p>
                    <p class="desc" >{{ description }}</p>
                    <a href={{ portLink }} class="button"> Portfolio </a>
                </div>
            </div>
        </div>
    </body>
</html>
<script>

initSqlJs({ locateFile: filename => `/dist/${filename}` }).then(function(SQL){
    var db = sql.Database('batch3.db');
    var stmt = db.prepare("SELECT * FROM fellows");
    while(stmt.step()){
        var row = stmt.getAsObject();
        var imageUrl = URL.createObjectURL(row.img);
        $('.grid-container').append('<div class="card"><div class="img-div"><img class="fellow-img" src="' + imageUrl + '"/></div><div class="content"><p class="name">'+ row.name +'</p><p class="mail" >'+ row.email +'</p><p class="desc">' + row.desc + '</p><a href="' + row.link + '" class="button"> Portfolio </a></div></div>');
    }
  });
</script>